body{	
	color: #333;
	font-family: "Arial";	
	padding: 0;
	margin: 0; 
	background: #1e1f24;	
	height: 100vh;
}

.cabecera{
	width: 70%;
	height: 16%;
	padding: 10px 0;
	text-align: center;
	border:1px solid black; 
	background: white;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 70px 100px 400px auto;
	background: #37488b;
	align-items: center;
	color:white;
}
.cabecera img{
	grid-column: 1;
	width: 100%;
	margin: 0 10px;
}
.cabecera span{
	grid-column: 2;	
	font-size: 30px;
	text-align: left;
	align-items: center;
	margin: 0 10px;	
	font-weight: bold;

}
.cabecera h1{
	grid-column: 3;
	margin: 0 10px;
	font-size: 20px;
}
.post{
	width: 70%;
	height: 70%;	
	text-align: left;
	margin: 0 auto;
	border: 1px solid black;
	background: white;
}
.post h1, p{
	margin: 20px;
}
footer{
	display: flex;
	width: 70%;
	height: 10%;
	margin: auto;
	border:1px solid black;
	color:white;
	background: #37488b;	
	align-items: center;
	justify-content: center;
}
footer img{
	width: 50px;
	margin: 0 10px;
	text-align: center;
}